[Unit]
Description=gemserv
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStartPre=-/bin/bash -c 'chown __APP__:__APP__ /etc/__APP__/'
ExecStartPre=-/bin/bash -c 'cat /etc/__APP__/config.d/*.toml > /etc/__APP__/config.toml'
ExecStart=__FINALPATH__/live/__APP__ /etc/__APP__/config.toml
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
